In [22]:
import pandas as pd
import numpy as np

In [23]:
data=pd.read_csv('/content/sample_data/Train_Data.csv')
data['key']=data.index

In [24]:
column_set=[
    'key',
    'residence space',
    'building space',
    'unit price of residence space',
    'unit price of building space',
    'exchange rate',
]

In [25]:
input_list=np.array(data[column_set]).tolist()

In [26]:
def map(input_list):
  # 5 mappers
  # input is the table
  # return key-value: [1,['Residence space','Building space','Unit price of residence space','Unit price of building space','exchange rate']]
  key_value_list=[]
  for tuple in input_list:
    key_value=[]
    key=tuple[0]
    value=[tuple[1],tuple[2],tuple[3],tuple[4],tuple[5]]
    key_value.append(key)
    key_value.append(value)
    key_value_list.append(key_value)
  return key_value_list

In [27]:
def reduce(key_value_list):
  #key_value_list:[1,['Residence space','Building space','Unit price of residence space','Unit price of building space,'exchage rate']]
  total_cost_list=[]
  for tuple in key_value_list:
    if tuple[0] < len(key_value_list)/2:
      total_cost=round((tuple[1][0]*tuple[1][2]+tuple[1][1]*tuple[1][3])*tuple[1][4])
      total_cost_list.append(total_cost)
    else:
      total_cost=round((tuple[1][0]*tuple[1][2]+tuple[1][1]*tuple[1][3])*tuple[1][4])
      total_cost_list.append(total_cost)
  return total_cost_list

In [28]:
total_cost_list=reduce(map(input_list))

In [29]:
data['total cost']=total_cost_list

In [30]:
data.to_csv('train_data')